<div class="container-fluid" style="padding: 1rem;">
<!-- Typography: https://material.io/archive/guidelines/style/typography.html#typography-styles -->
  <h1>Example page, check if everything works</h1>
<hr>

<!-- Grid sistem using RC of Bootstrap -->
<!-- Link: https://getbootstrap.com/docs/5.1/layout/grid/ -->
<h2>Bootstrap Container</h2>
<div class="container-fluid">
  <div style="height: 50px;" class="row">
    <div style="background-color: #1E90FF;text-align: center;" class="col">
      <h4>Column 1</h4>
    </div>
    <div style="background-color: #ED6476;text-align: center;" class="col">
      <h4>Column 2</h4>
    </div>
  </div>
</div>

<!-- Placeholder using Bootstrap -->
<!-- Link: https://getbootstrap.com/docs/5.1/components/ -->
<h2>Bootstrap Placeholder</h2>
<p class="placeholder-glow">
  <a href="#" class="btn btn-primary disabled placeholder col-4" aria-hidden="true"></a>
</p>


<h2>Material Slider</h2>

  <mat-slider color="primary" aria-label="unit(s)"></mat-slider> &nbsp;
  <p>Count: {{count}}</p>
  <button (click)="counter()" mat-flat-button color="primary">Count</button> &nbsp;
  <button (click)="subtractor()" mat-flat-button color="accent">Subtract</button>
</div>