<div class="container" style="padding: 10px;">
<!-- Typography: https://material.io/archive/guidelines/style/typography.html#typography-styles -->
  <h1>Example page, check if everything works</h1>
<hr>

<!-- Grid sistem using RC of Bootstrap -->
<!-- Link: https://getbootstrap.com/docs/5.1/layout/grid/ -->
<h2>Bootstrap Container</h2>
  <div style="height: 100px;" class="row">
    <div style="background-color: #1E90FF;text-align: center;" class="col-md">
      <h4>Column 1</h4>
    </div>
    <div color="primary" style="background-color: #FF5704;text-align: center;" class="col-md">
      <h4>Column 2</h4>
    </div>
  </div>

<h2>Toggle Dark/Light Mode</h2>
<!-- Toggle with formControl -->
<!-- https://material.angular.io/components/slide-toggle/overview -->
<mat-slide-toggle [formControl]="toggleTheme">Toggle Theme</mat-slide-toggle>

<h2>Material Slider</h2>

<!-- Slider Material -->
<!-- https://material.angular.io/components/slider/overview -->
  <mat-slider color="accent"></mat-slider> &nbsp;
  <p>Count: {{count}}</p>
  <button (click)="counter()" mat-raised-button>Count</button> &nbsp;
  <button (click)="subtractor()" mat-flat-button color="accent">Subtract</button>

<h2>Routing</h2>
<!-- Angular Routing -->
<button routerLink="page1" mat-flat-button color="primary">Page 1</button> &nbsp;
<button routerLink="page2" mat-flat-button color="accent">Page 2</button>

<router-outlet></router-outlet>
</div>

