
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Template Palette (Change when starting a new project)
$templateprimary: (
  50 : #e4f2ff,
  100 : #bcdeff,
  200 : #8fc8ff,
  300 : #62b1ff,
  400 : #40a1ff,
  500 : #1e90ff,
  600 : #1a88ff,
  700 : #167dff,
  800 : #1273ff,
  900 : #0a61ff,
  A100 : #ffffff,
  A200 : #f5f8ff,
  A400 : #c2d5ff,
  A700 : #a8c3ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$templateaccent: (
  50 : #ffebe1,
  100 : #ffcdb4,
  200 : #ffab82,
  300 : #ff894f,
  400 : #ff702a,
  500 : #ff5704,
  600 : #ff4f03,
  700 : #ff4603,
  800 : #ff3c02,
  900 : #ff2c01,
  A100 : #ffffff,
  A200 : #fff4f2,
  A400 : #ffc7bf,
  A700 : #ffb0a6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

// Template Font (Change when starting a new project)
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rikMaterialBootstrapTemplate-primary: mat.define-palette($templateprimary);
$rikMaterialBootstrapTemplate-accent: mat.define-palette($templateaccent);

// The warn palette is optional (defaults to red).
$rikMaterialBootstrapTemplate-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rikMaterialBootstrapTemplate-light-theme: mat.define-light-theme((
  // Set Angular Colors
  color: (
    primary: $rikMaterialBootstrapTemplate-primary,
    accent: $rikMaterialBootstrapTemplate-accent,
    warn: $rikMaterialBootstrapTemplate-warn,
  ),
));
$rikMaterialBootstrapTemplate-dark-theme: mat.define-dark-theme((
  // Set Angular Colors
  color: (
    primary: $rikMaterialBootstrapTemplate-primary,
    accent: $rikMaterialBootstrapTemplate-accent,
    warn: $rikMaterialBootstrapTemplate-warn,
  ),
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rikMaterialBootstrapTemplate-light-theme);

/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap-grid.css";

// Set Font Globally
*{ font-family: "Heebo", sans-serif !important; }

html, body { height: 100%; }
body { margin: 0; }
.dark{
  @include mat.all-component-colors($rikMaterialBootstrapTemplate-dark-theme);
}